In [98]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [100]:
data =pd.read_csv('D:\\data sets\\D.S to ETL_practise\\Detailed NFL Play-by-Play Data 2009-2018\\NFL Play by Play 2009-2018 (v5).csv')

C:\Users\hp\AppData\Local\Temp\ipykernel_13404\268132553.py:1: DtypeWarning: Columns (42,166,167,168,169,174,175,178,179,182,183,188,189,190,191,194,195,203,204,205,218,219,220,231,232,233,238,240,241,249) have mixed types. Specify dtype option on import or set low_memory=False.
  data =pd.read_csv('D:\\data sets\\D.S to ETL_practise\\Detailed NFL Play-by-Play Data 2009-2018\\NFL Play by Play 2009-2018 (v5).csv')

In [101]:
data.shape

(449371, 255)

In [104]:
data.head(15)

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_id,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
5,162,2009091000,PIT,TEN,TEN,away,PIT,TEN,98.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
6,183,2009091000,PIT,TEN,TEN,away,PIT,TEN,98.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
7,207,2009091000,PIT,TEN,TEN,away,PIT,TEN,94.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
8,228,2009091000,PIT,TEN,TEN,away,PIT,TEN,96.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
9,253,2009091000,PIT,TEN,PIT,home,TEN,TEN,43.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
10,277,2009091000,PIT,TEN,PIT,home,TEN,TEN,40.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
11,301,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
12,322,2009091000,PIT,TEN,PIT,home,TEN,TEN,31.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
13,346,2009091000,PIT,TEN,PIT,home,TEN,TEN,22.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
14,365,2009091000,PIT,TEN,PIT,home,TEN,TEN,41.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0

In [142]:
threshold=data.shape[0]*3//4
NumOfNull=data.isnull().sum()
col_to_drop=NumOfNull[NumOfNull>=threshold].index

In [607]:
NumOfNull

play_id                               0
game_id                               0
home_team                             0
away_team                             0
posteam                           13242
                                  ...
penalty_type                     418232
defensive_two_point_attempt       12874
defensive_two_point_conv          12874
defensive_extra_point_attempt     12874
defensive_extra_point_conv        12874
Length: 255, dtype: int64

In [144]:
df=data.drop(columns=col_to_drop)

In [146]:
higher_threshold=df.shape[0]/2
nulls=df.isnull().sum()
cols_willbe_droped=nulls[nulls>=higher_threshold].index
print(len(cols_willbe_droped))

17

In [148]:
df=df.drop(columns=cols_willbe_droped)

In [152]:
df

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,lateral_reception,lateral_rush,lateral_return,lateral_recovery,return_yards,replay_or_challenge,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,0.0,0.0,0.0,0.0,39.0,0,0.0,0.0,0.0,0.0
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,2009-09-10,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,2009-09-10,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449366,4059,2018121700,CAR,NO,CAR,home,NO,CAR,66.0,2018-12-17,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
449367,4081,2018121700,CAR,NO,CAR,home,NO,CAR,66.0,2018-12-17,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
449368,4106,2018121700,CAR,NO,CAR,home,NO,CAR,61.0,2018-12-17,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
449369,4128,2018121700,CAR,NO,NO,away,CAR,CAR,39.0,2018-12-17,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
449370,4150,2018121700,CAR,NO,NaN,NaN,NaN,CAR,NaN,2018-12-17,...,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN

In [174]:
detailed_data=pd.DataFrame({'column_name':df.columns,
                            'num_of_null':df.isna().sum().values,
                            'percentage_of_null':(df.isna().sum().values/df.shape[0])*100
                            })

In [192]:
detailed_data.sort_values(by='percentage_of_null',ascending=False).head(100)

                   column_name  num_of_null  percentage_of_null
18                        down        67962           15.123806
74                      def_wp        16058            3.573439
73                          wp        16058            3.573439
79                away_wp_post        16037            3.568766
78                home_wp_post        16037            3.568766
..                         ...          ...                 ...
12      game_seconds_remaining          163            0.036273
20                        time          141            0.031377
10   quarter_seconds_remaining          141            0.031377
144               return_yards           21            0.004673
24                        desc            2            0.000445

[100 rows x 3 columns]

In [200]:
df.dtypes.value_counts()

float64    120
int64       18
object      12
Name: count, dtype: int64

In [ ]:
obj_columns=df.loc[:,df.dtypes==object]

In [284]:
int_columns=df.loc[:,df.dtypes=="int64"]
float_columns=df.loc[:,df.dtypes=="float64"]

In [216]:
obj_columns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449371 entries, 0 to 449370
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   home_team      449371 non-null  object
 1   away_team      449371 non-null  object
 2   posteam        436129 non-null  object
 3   posteam_type   436492 non-null  object
 4   defteam        436492 non-null  object
 5   side_of_field  448771 non-null  object
 6   game_date      449371 non-null  object
 7   game_half      449371 non-null  object
 8   time           449230 non-null  object
 9   yrdln          448771 non-null  object
 10  desc           449369 non-null  object
 11  play_type      436497 non-null  object
dtypes: object(12)
memory usage: 41.1+ MB

In [268]:
obj_columns['posteam'].value_counts()

posteam
NE     14269
NO     14156
PHI    14068
BAL    13992
DEN    13960
HOU    13959
DET    13901
IND    13847
GB     13754
OAK    13709
NYJ    13701
ATL    13666
PIT    13666
KC     13597
CIN    13569
CAR    13543
ARI    13539
DAL    13525
WAS    13493
NYG    13483
BUF    13473
SEA    13465
TB     13408
SF     13376
CLE    13369
MIN    13364
MIA    13273
CHI    13269
TEN    13108
SD     11061
JAC     9566
STL     9391
JAX     4027
LA      4008
LAC     2574
Name: count, dtype: int64

In [260]:
nuls_series=obj_columns.isna().sum()
nuls_col=nuls_series[nuls_series>0].index
nuls_col

Index(['posteam', 'posteam_type', 'defteam', 'side_of_field', 'time', 'yrdln',
       'desc', 'play_type'],
      dtype='object')

In [274]:
for i in range(8):
    modd=obj_columns[nuls_col[i]].mode()[0]
    obj_columns[nuls_col[i]].fillna(modd,inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_13404\417196157.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obj_columns[nuls_col[i]].fillna(modd,inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_13404\417196157.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  obj_columns[nuls_col[i]].fillna(modd,inplace=True)

In [276]:
obj_columns.isna().sum()

home_team        0
away_team        0
posteam          0
posteam_type     0
defteam          0
side_of_field    0
game_date        0
game_half        0
time             0
yrdln            0
desc             0
play_type        0
dtype: int64

In [278]:
obj_columns.sample(5)

,home_team,away_team,posteam,posteam_type,defteam,side_of_field,game_date,game_half,time,yrdln,desc,play_type
144478,JAC,CIN,JAC,home,CIN,JAC,2012-09-30,Half1,04:57,JAC 12,(4:57) (Shotgun) B.Gabbert sacked at JAC 6 for...,pass
408118,NE,HOU,NE,home,HOU,NE,2018-09-09,Half1,01:19:00,NE 41,(1:19) (Shotgun) T.Brady pass incomplete deep ...,no_play
324962,DAL,CHI,DAL,home,CHI,DAL,2016-09-25,Half2,04:08,DAL 47,(4:08) (Punt formation) C.Jones punts 42 yards...,punt
403877,DAL,SEA,DAL,home,SEA,DAL,2017-12-24,Half1,06:55,DAL 46,(6:55) E.Elliott left tackle to 50 for 4 yards...,run
64342,NE,MIN,MIN,away,NE,MIN,2010-10-31,Half2,07:55,MIN 41,(7:55) B.Favre pass incomplete deep right to P...,pass

In [294]:
int_columns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449371 entries, 0 to 449370
Data columns (total 18 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   play_id                  449371 non-null  int64
 1   game_id                  449371 non-null  int64
 2   quarter_end              449371 non-null  int64
 3   drive                    449371 non-null  int64
 4   sp                       449371 non-null  int64
 5   qtr                      449371 non-null  int64
 6   ydstogo                  449371 non-null  int64
 7   ydsnet                   449371 non-null  int64
 8   shotgun                  449371 non-null  int64
 9   no_huddle                449371 non-null  int64
 10  qb_kneel                 449371 non-null  int64
 11  qb_spike                 449371 non-null  int64
 12  qb_scramble              449371 non-null  int64
 13  home_timeouts_remaining  449371 non-null  int64
 14  away_timeouts_remaining  449371 non-null  int64
 15  total_home_score         449371 non-null  int64
 16  total_away_score         449371 non-null  int64
 17  replay_or_challenge      449371 non-null  int64
dtypes: int64(18)
memory usage: 61.7 MB

In [298]:
int_columns.sample(5)

,play_id,game_id,quarter_end,drive,sp,qtr,ydstogo,ydsnet,shotgun,no_huddle,qb_kneel,qb_spike,qb_scramble,home_timeouts_remaining,away_timeouts_remaining,total_home_score,total_away_score,replay_or_challenge
14830,1534,2009101809,0,8,0,2,0,26,0,0,0,0,0,2,3,3,17,0
32081,259,2009120603,0,2,0,1,14,7,0,0,0,0,0,3,3,0,0,0
47522,3190,2010091901,0,20,0,4,5,12,1,0,0,0,0,3,2,34,7,0
373391,3908,2017100500,0,20,0,4,7,7,1,0,0,0,1,2,3,7,16,0
248625,3280,2014110210,0,21,1,4,0,0,0,0,0,0,0,1,3,29,17,0

In [302]:
float_columns.sample(5)

,yardline_100,quarter_seconds_remaining,half_seconds_remaining,game_seconds_remaining,down,goal_to_go,yards_gained,qb_dropback,timeout,posteam_timeouts_remaining,...,assist_tackle,lateral_reception,lateral_rush,lateral_return,lateral_recovery,return_yards,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
29685,9.0,599.0,599.0,2399.0,1.0,1.0,6.0,1.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
274034,6.0,69.0,969.0,2769.0,1.0,1.0,3.0,0.0,0.0,2.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
388144,87.0,836.0,836.0,836.0,3.0,0.0,0.0,1.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
61993,77.0,51.0,51.0,1851.0,NaN,0.0,0.0,0.0,1.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
182137,55.0,64.0,64.0,64.0,2.0,0.0,19.0,1.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [306]:
len(float_columns.isna().sum().tolist())

120

In [322]:
ar=[1,2,3]
max(ar)

3

In [328]:
#n_na=float_columns.isna().sum()
#f_has_na=n_na[n_na>0].index

In [316]:
#for i in f_has_na:
#    med=float_columns[i].median()
#    float_columns[i].fillna(med , inplace=True)

92

In [340]:
float_median=float_columns.median()
float_columns.fillna(float_median,inplace = True)

C:\Users\hp\AppData\Local\Temp\ipykernel_13404\3860894660.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  float_columns.fillna(float_median,inplace = True)

In [342]:
orig_data=pd.concat([int_columns,obj_columns,float_columns],axis=1)

In [348]:
orig_data.columns.tolist()

['play_id',
 'game_id',
 'quarter_end',
 'drive',
 'sp',
 'qtr',
 'ydstogo',
 'ydsnet',
 'shotgun',
 'no_huddle',
 'qb_kneel',
 'qb_spike',
 'qb_scramble',
 'home_timeouts_remaining',
 'away_timeouts_remaining',
 'total_home_score',
 'total_away_score',
 'replay_or_challenge',
 'home_team',
 'away_team',
 'posteam',
 'posteam_type',
 'defteam',
 'side_of_field',
 'game_date',
 'game_half',
 'time',
 'yrdln',
 'desc',
 'play_type',
 'yardline_100',
 'quarter_seconds_remaining',
 'half_seconds_remaining',
 'game_seconds_remaining',
 'down',
 'goal_to_go',
 'yards_gained',
 'qb_dropback',
 'timeout',
 'posteam_timeouts_remaining',
 'defteam_timeouts_remaining',
 'posteam_score',
 'defteam_score',
 'score_differential',
 'posteam_score_post',
 'defteam_score_post',
 'score_differential_post',
 'no_score_prob',
 'opp_fg_prob',
 'opp_safety_prob',
 'opp_td_prob',
 'fg_prob',
 'safety_prob',
 'td_prob',
 'extra_point_prob',
 'two_point_conversion_prob',
 'ep',
 'epa',
 'total_home_epa',
 'total_away_epa',
 'total_home_rush_epa',
 'total_away_rush_epa',
 'total_home_pass_epa',
 'total_away_pass_epa',
 'comp_air_epa',
 'comp_yac_epa',
 'total_home_comp_air_epa',
 'total_away_comp_air_epa',
 'total_home_comp_yac_epa',
 'total_away_comp_yac_epa',
 'total_home_raw_air_epa',
 'total_away_raw_air_epa',
 'total_home_raw_yac_epa',
 'total_away_raw_yac_epa',
 'wp',
 'def_wp',
 'home_wp',
 'away_wp',
 'wpa',
 'home_wp_post',
 'away_wp_post',
 'total_home_rush_wpa',
 'total_away_rush_wpa',
 'total_home_pass_wpa',
 'total_away_pass_wpa',
 'comp_air_wpa',
 'comp_yac_wpa',
 'total_home_comp_air_wpa',
 'total_away_comp_air_wpa',
 'total_home_comp_yac_wpa',
 'total_away_comp_yac_wpa',
 'total_home_raw_air_wpa',
 'total_away_raw_air_wpa',
 'total_home_raw_yac_wpa',
 'total_away_raw_yac_wpa',
 'punt_blocked',
 'first_down_rush',
 'first_down_pass',
 'first_down_penalty',
 'third_down_converted',
 'third_down_failed',
 'fourth_down_converted',
 'fourth_down_failed',
 'incomplete_pass',
 'interception',
 'punt_inside_twenty',
 'punt_in_endzone',
 'punt_out_of_bounds',
 'punt_downed',
 'punt_fair_catch',
 'kickoff_inside_twenty',
 'kickoff_in_endzone',
 'kickoff_out_of_bounds',
 'kickoff_downed',
 'kickoff_fair_catch',
 'fumble_forced',
 'fumble_not_forced',
 'fumble_out_of_bounds',
 'solo_tackle',
 'safety',
 'penalty',
 'tackled_for_loss',
 'fumble_lost',
 'own_kickoff_recovery',
 'own_kickoff_recovery_td',
 'qb_hit',
 'rush_attempt',
 'pass_attempt',
 'sack',
 'touchdown',
 'pass_touchdown',
 'rush_touchdown',
 'return_touchdown',
 'extra_point_attempt',
 'two_point_attempt',
 'field_goal_attempt',
 'kickoff_attempt',
 'punt_attempt',
 'fumble',
 'complete_pass',
 'assist_tackle',
 'lateral_reception',
 'lateral_rush',
 'lateral_return',
 'lateral_recovery',
 'return_yards',
 'defensive_two_point_attempt',
 'defensive_two_point_conv',
 'defensive_extra_point_attempt',
 'defensive_extra_point_conv']

In [362]:
orig_data.duplicated().sum()

2389

In [368]:
orig_data.drop_duplicates(inplace=True)
orig_data.duplicated().sum()

0

In [372]:
orig_data.shape

(446982, 150)

In [404]:
num_columns=orig_data.select_dtypes(include=["int64","float64"])
num_columns.shape

(446982, 138)

In [434]:
Q1=num_columns.quantile(0.25)
Q3=num_columns.quantile(0.75)
IQR=Q3-Q1
upper=Q3+(1.5*IQR)
lower=Q1-(1.5*IQR)

In [446]:
upper

play_id                          6.341500e+03
game_id                          2.023590e+09
quarter_end                      0.000000e+00
drive                            3.600000e+01
sp                               0.000000e+00
                                     ...
return_yards                     0.000000e+00
defensive_two_point_attempt      0.000000e+00
defensive_two_point_conv         0.000000e+00
defensive_extra_point_attempt    0.000000e+00
defensive_extra_point_conv       0.000000e+00
Length: 138, dtype: float64

In [448]:
out_lier=num_columns[(num_columns>upper) | (num_columns<lower) ]

In [461]:
outlier_mask = (num_columns > upper) | (num_columns < lower)

In [467]:
outlier_mask.sum()

play_id                              0
game_id                              0
quarter_end                       7635
drive                               23
sp                               32202
                                 ...
return_yards                     25327
defensive_two_point_attempt         29
defensive_two_point_conv             6
defensive_extra_point_attempt        0
defensive_extra_point_conv           0
Length: 138, dtype: int64

In [513]:
med_data=num_columns.median()
d_cleaned=num_columns.mask(outlier_mask,med_data,axis=1)

In [547]:
d_cleaned.shape

(446982, 138)

In [535]:
d_cleaned.isna().sum().tolist()

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [599]:
data=pd.concat([d_cleaned,orig_data.select_dtypes(object)],axis=1)

In [619]:
data.shape

(446982, 150)

In [621]:
data.duplicated().sum()

0

In [623]:
data.isna().sum().sum()

0

In [635]:
types=data.dtypes.unique().tolist()

In [641]:
for ty in types :
    d=data.select_dtypes(ty)
    d.sample(1)

,home_team,away_team,posteam,posteam_type,defteam,side_of_field,game_date,game_half,time,yrdln,desc,play_type
0,PIT,TEN,PIT,home,TEN,TEN,2009-09-10,Half1,15:00,TEN 30,R.Bironas kicks 67 yards from TEN 30 to PIT 3....,kickoff
1,PIT,TEN,PIT,home,TEN,PIT,2009-09-10,Half1,14:53,PIT 42,(14:53) B.Roethlisberger pass short left to H....,pass
2,PIT,TEN,PIT,home,TEN,PIT,2009-09-10,Half1,14:16,PIT 47,(14:16) W.Parker right end to PIT 44 for -3 ya...,run
3,PIT,TEN,PIT,home,TEN,PIT,2009-09-10,Half1,13:35,PIT 44,(13:35) (Shotgun) B.Roethlisberger pass incomp...,pass
4,PIT,TEN,PIT,home,TEN,PIT,2009-09-10,Half1,13:27,PIT 44,(13:27) (Punt formation) D.Sepulveda punts 54 ...,punt
...,...,...,...,...,...,...,...,...,...,...,...,...
449366,CAR,NO,CAR,home,NO,CAR,2018-12-17,Half2,01:03:00,CAR 34,(1:03) (Shotgun) C.Newton pass incomplete shor...,pass
449367,CAR,NO,CAR,home,NO,CAR,2018-12-17,Half2,00:58:00,CAR 34,(:58) (Shotgun) C.Newton pass short middle to ...,pass
449368,CAR,NO,CAR,home,NO,CAR,2018-12-17,Half2,00:38:00,CAR 39,"(:38) (No Huddle, Shotgun) C.Newton pass incom...",pass
449369,CAR,NO,NO,away,CAR,CAR,2018-12-17,Half2,00:35:00,CAR 39,(:35) D.Brees kneels to CAR 40 for -1 yards.,qb_kneel
449370,CAR,NO,NE,home,PHI,CAR,2018-12-17,Half2,00:00:00,CAR 39,END GAME,pass

In [645]:
numeric_dtypes = ["int64", "int32", "float64", "float32", "boolean", "bool"]
numeric_dtype = ["float32", "int32", "float64","int64" , "boolean", "bool"]